@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Manrope" , sans-serif;
  }
  
  @font-face {
    font-family: 'Manrope' ;
    src: url('/Manrope-Regular.ttf') format('truetype');
  }
  
  html,body{
    height: 100%;
    background: #ffff;
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(17,24,39,255);
    font-family: "Manrope " , sans-serif;
  
  }
  ::-webkit-scrollbar {
    display: none;
  }
